@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<body>

    <strong>Apresentação:</strong>
    <p>
        Meu nome é Bruno tenho 18 anos e esse é o meu primeiro projeto MVC com ASP.NET Core, estou desenvolvendo essa aplicação
        seguindo as dicas e ensinamentos do professor Nelio Alves. Tive acesso a esse curso através da plataforma Udemy!
    </p>
    <strong>Aqui estão algumas informaçoes para contato pessoal:</strong>
    <p>
        <a class="btn btn-danger btn-sm" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJqZhZPdzgKmGHFpWhZXFdmSwlvvHpWJMwNDkRxbbBQSXjQpdXBvVPxjxDWRWtnwxXRXhXB">@ViewData["Email"]</a>
        <a class="btn btn-dark btn-sm" href="https://github.com/brunoknaesel">Github</a>
        <a class="btn btn-primary btn-sm" href="https://www.linkedin.com/in/bruno-hugo-knaesel-21999b201/">Linkedin</a>
    </p>

    <div class="form-group">
        <a class="btn btn-outline-danger btn-sm" href="@Url.Action("Index")">Voltar ao inicio</a>
    </div>





</body>
</html>
